<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Guides</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/mod-docs/latest/index.html">Modular Documentation</a>
            <a class="navbar-item" href="/community/latest/index.html">Community Collaboration Guide</a>
          </div>
        </div>
        <a class="navbar-item" href="/">Documentation Home</a>
        
      </div>
    </div>
  </nav>
</header>
